@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Ghayal Bhaag Online book store</h1>

     <body>

       <table style="margin-left:150px;">

                    <td>
           <div class="card" style="height: 25rem; width: 15rem;">
            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/16771/16771021.png" alt="Card image cap">
            <div class="card-body">
            <p class="card-text">Search a book by Title, Description Or price</p>
            <a href="/Books" class="btn btn-primary">Search Book</a>
            </div>
           </div>
           </td>

       <td>
       <div class="card" style="height: 25rem; width: 15rem;">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/1036/1036762.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Your Orders</p>
        <a href="/Orders" class="btn btn-primary">View Orders</a>
        </div>
       </div>
       </td>



                <td>
       <div class="card" style="height: 25rem; width: 15rem;">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/11980/11980759.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text"> View Anouncements </p>
        <a href="/Anouncements" class="btn btn-primary">Anouncements</a>
        </div>
       </div>
       </td>

        <td>
       <div class="card" style="height: 25rem; width: 15rem;">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/7326/7326962.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Your wishlist</p>
        <a href="/Bookmarks" class="btn btn-primary">Go to Wishlist</a>
        </div>
       </div>
       </td>

       </table>

   </body>
</div>
